body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: gray;
   
}

h2{
    font-size: 60px;
}

.container{
    width: 300px;
    height: 400px;
    background-color: lightslategray;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.btn{
    width: 100px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: silver;
    color: white;
}

.btn:hover{
    opacity: .8;
}
.btn:nth-child(2){
    color: green;
}
.btn:nth-child(1){
    color: red;
}

.btn:active{
    transform:translateY(3px);
}

.positive{
    color: greenyellow;
}
.negative{
    color: red;
}